Flask==3.0.3
numpy==1.26.4
gunicorn==20.1.0


pandas==2.2.2             # For data manipulation and analysis
scikit-learn==1.4.2        # For machine learning algorithms
joblib==1.4.2               # For saving and loading models
matplotlib==3.8.4          # For plotting and visualizing data (if needed)
