Flask==3.0.3
numpy==1.26.4
gunicorn==20.1.0


Flask-Cors==3.0.10            # If you need to handle Cross-Origin Resource Sharing (CORS)

pandas==1.5.0                 # For data manipulation and analysis
scikit-learn==1.1.3           # For machine learning algorithms
joblib==1.2.0                 # For saving and loading models
matplotlib==3.6.0             # For plotting and visualizing data (if needed)
seaborn==0.12.2               # For statistical data visualization (if needed)
tensorflow==2.12.0            # If you're using TensorFlow for your model (or PyTorch)
pickle5==0.0.11               # For loading saved models with pickle (Python 3.8+)
